<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_170501036_FerdiKandemir_v2.Properties.Settings.Rechtsbuero_DBConnectionString"
            connectionString="Data Source=EVT03114NB;Initial Catalog=Rechtsbuero_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>